.itemListContainer--content{
    background-color:#fff1ff;
    min-height: 80vh;
    padding-top: 6rem;
}
.productos--title{
    padding: 2.5rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.itemListContainer--producto{
    height: 20rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color:#ffffffad;
}

.productos--spinner{
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}