
.navBar .logo img {
    float: left;
    max-height: 120px;
}
.is-active {
    /* color: #ff5800!important; */
    color: #67ad7c !important;
}

.navBar .col-md-3 {
    z-index: 7; 
}
ul.main-menu {
    display: inline-flex;
    list-style: none;
    margin: 0px auto 0;
    padding: 0;
    float: right;
    z-index: 7;
}
ul.main-menu>li.menu-item:first-child {
    padding-left: 0;
    margin-left: 0;
}
.menu-item {
    line-height: 23px;
}
li {
    list-style-type: none;
}
.menu-item a {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    display: block;
    margin: 27px 17px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
    color: #6f6f72;
  }
  .header__middle__logo{
    width: 20%;
    display: inline-block;
    float: left;
  }
  .header__middle__menus {
    width: 70%;
    display: inline-block;
    float: left;
  }
  .menu-item.menu__qqqitem a{
    margin: 27px 10px;
  }
  .header__middle__search {
    width: 7%;
    display: inline-block;
    float: right;
    padding: 36px 3px 27px 3px;
    border-left: 1px solid lavender;
  }
  .header__middle {
    display: flex;
    width: 100%;
    /* float: left; */
    background-color: #fff1ff;
    border-bottom: 1px dashed lavender;
    /* position: relative; */
    position: fixed;
    top: 0;
    z-index: 999;
  }
  .header__middle__logo > a > h1 {
    
    text-decoration: none;
    margin-top: 33px;
  }
  /* .active{
    color: #ff1800!important;
  } */
  .header__middle__menus span.text {
    position: absolute;
    right: 177px;
    bottom: 10px;
    font-size: 14px;
    color: #ff1800;
  }
  .sub__menus__arrows{
    position: relative;
  }
  .sub__menus__arrows svg, .sub__menus__arrows__full svg{
    padding-top: 0px;
    position: absolute;
    top: 13px;
  }
  .sub__menus {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid lavender;
    width: 227px;
    left: -17px;
    padding: 2px 0 0 0;
    z-index: 1000;
    box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
  }
  
  @media (max-width:767px) { 
    .header__middle .active {color: #ff3d00!important;}
  }
  
  @media (min-width:992px) { 
    .sub__menus__arrows:hover .sub__menus{
      display: block;
    }
    .sub__menus__arrows__full:hover .sub__menus{
      display: block;
      z-index: 1000000;
    }
  }
  .menu-item .sub__menus  a {
    padding: 7px 0 0px 0;
    margin: 7px 27px;
  }
  .menu-item:hover > a{
    /* color: #07a8ff !important; */
    color: #67ad7c !important;
  }
  .menu-item .sub__menus li:hover a{
    /* color: #07a8ff !important; */
    color: #67ad7c !important;
  }
  
  .header__middle__logo img{
    max-width: 207px;
    margin: 17px 0 0 0;
  }
  
  
  @media(max-width:991px){
  .header__middle__logo {
      width: 65%;
      margin-left: 2rem;
    }
  .header__middle__menus {width: 20%;}
  .header__middle__logo img {max-width: 197px;margin: 27px 0 0 0;}
  .main-nav .menubar__button:hover {color: rgb(114, 112, 112);}
  .main-nav .menu-item:hover > a {color: #67ad7c !important}
  .main-nav .menubar__button {
    display: block!important;
    float: right;
    /* background-color: #080808; */
    width: 3rem;
    height: 3rem;
    color: #1b1927;
    padding: 6px 7px;
    border-radius: 5px;
    margin: 27px auto 0;
    cursor: pointer;
    position: relative;
    z-index: 10037;
  }
  .main-nav .menubar__button svg{font-size: 2.4rem;}
  .main-nav ul.menuq2 {
    display: block!important;
    position: absolute;
    left: 0;
    z-index: 10007;
    background-color: #4d486f;
    /* border-bottom: 3px solid #ff3d00; */
    right: 0;
    padding-bottom: 17px;
    padding-top: 57px;
  }
  .main-nav .menu-item a {margin: 10px 17px;text-align: center;color: #fff;}
  .main-nav  ul.main-menu {display: none}
  .main-nav .sub__menus__arrows:hover .sub__menus {margin: 0 auto;left: 0;right: 0;}
  .sub__menus__Active{display: block!important;margin: 0 auto;left: 0;right: 0;}
  .sub__menus__Active2{display: block!important;}
  .menus__categorysss{display: none;}
  .menus__categorysss2{display: none;}
  .menu-item .sub__menus__full a {text-align: left;}
  
  }




.navbar--estilos{
    background-color: #fff1ff;
    height: 18vh;
    padding: 0;
}
.nav--container{
    align-items: center;
}

.navbar--logo{
    font-size: 2rem;
    color: rgb(34, 33, 33);
    margin: 0;
}
.navbar-brand{
    margin: 0;
}
.nav-link{
    font-family: 'Spartan', sans-serif;
    color: #212529;
    font-size:1.15rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    padding: 1.5rem;
}
.nav-link:hover{
    color: #67ad7c !important;
}
.nav-link.active{
    color: #67ad7c !important;
}

.navbar--items__estilos{
    color: black;
    width: 100%;
    height: 100%;
    margin: .1rem;
}

a:link{
    text-decoration: none;
}
.navbar--items__estilos:hover{
    color:grey;
}
a:active{
    background-color: none;
    color:none;
}
.nav--cart--icon{
    order: -1;
}
.navbar--collapse{
    background-color: #4d486f;
}
.navbar-nav{
    padding: .5rem 1rem;
}

.padding--nav{
    padding: .5rem 1rem;
}
.margin--nav{
    margin: .5rem 1rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-menu.show {
    display: block;
    background-color: #fff1ff;
    border: none;
    border-radius: 15px;
}

@media (min-width:992px){
    .nav--container{
        align-items: center;
    }
    .navbar--collapse{
        background-color: transparent;
    }
    .dropdown-menu{
        padding: 1rem 0;
    }
    .dropdown-menu.show {
        background-color: #4d486f;
        padding: .4rem 1.1rem;
        display: flex;
        flex-direction: column;
    }
    .navbar--items__estilos{
        color: #4d486f;
    }
    .navbar--items__estilos:hover{
        color: #67ad7c ;
    }
    .dropdown-item:hover {
        background-color: black;
    }
    .navbar--logo{
        margin-right: 2rem;
    }
    .nav--cart--icon{
        order: 1;
    }
}
